*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Oswald", sans-serif;
    background: #5c3e84;
    color: #fabfa1;
    line-height: 1.5;
    font-size: 14px;
}

img{
    width: 100%;
}

h2, h4{
    letter-spacing: 4px;
    line-height: 12px;
    margin-bottom: 12px;
}

h2{
    font-size: 20px;
}

h4{
    font-size: 14px;
}

.section-center{
    width: 90%;
    margin: 50px auto;
}

.gift-info h2{
    text-transform: uppercase;
    text-align: center;
}

.giveaway{
    text-align: center;
}

.deadline{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gift-image{
    margin-bottom: 32px;
}

.deadline-format{
    background: #27173d;
    color: #ecf0f1;
    margin-right: 16px;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.deadline-format span{
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 4px;
    text-align: center;
}

.deadline h4{
    font-size: 25px;
    letter-spacing: 4px;
}

.deadline-format div{
    padding: 20px;
}